<!DOCTYPE html>
<html lang="en">
  <head>
    <style>
        * {
            margin: 0;
            padding: 0;   
        }
    ul {
        display: flex;
        background-color: rgba(0, 0, 0, 0.506);
        border: 1px solid rgb(128, 114, 114);
    }
    li {
        padding: 7px;
        margin-left: 2rem;
        color: white;
    }
    li:hover {
        color: rgb(204, 207, 189);
    }
    </style>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/contact">Contact us</a></li>
        <li><a href="/user/logout">Log out</a></li>
        <li><a href="/user/login">Log in</a></li>
        <li><a href="/user/signup">Sign up</a></li>
      </ul>
    </nav>
  </body>
</html>
